@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


body {
  font-size: 21px;
  color: #ffffff;
  background-image: url(img/photo-1514306191717-452ec28c7814.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 90px;
  text-align: center;
}

.titre {
    color: #ffffff;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.4rem;

}

.presentation {
    color: #ffffff;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3rem;
    position: absolute;
    left: 100px;
    top: 89px;
    z-index: 2;
}

.txtinfo {
    color: #ffffff;
    font-style: normal;
    font-size: 1.3rem;
    position: absolute;
    left: 100px;
    top: 155px;
    z-index: 2;
}

.local {
    color: #ffffff;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    position: absolute;
    right: 490px;
    top: 820px;
    z-index: 2;
}


.info {
    color: azure;
    position: absolute;
    right: 195px;
    top: 445px;
    z-index: 2;
}

.info1 {
    color: azure;
    position: absolute;
    left: 175px;
    top: 575px;
    z-index: 2;
}

.info2 {
    color: azure;
    position: absolute;
    right: 270px;
    top: 690px;
    z-index: 2;
}

.info3 {
    color: azure;
    position: absolute;
    left: 232px;
    top: 735px;
    z-index: 2;
}

.map {
    position: absolute;
    top: 850px;
    right: 100px;
    height: 300px;
    width: 500px;
    z-index: 2;
}


.boxpresentation {
    min-height: 300px;
    width: 60%;
    background: #dd3434;
    background: linear-gradient(90deg, rgba(221, 52, 52, 1) 0%, rgba(177, 92, 230, 1) 100%);
    margin: 0 auto;
    border: 2px solid rgba(255, 8, 0, 0.988);
    border-radius: 26px;
    box-shadow:  -5px -5px 46px #a62121,
             5px 5px 46px #be2727;
    padding: 15px;
    position: absolute;
    left: 90px;
    top: 86px;
    z-index: 1;

}

.boxcreer {
    min-height: 100px;
    width: 50%;
    background: #dd3434;
    background: linear-gradient(90deg, rgba(221, 52, 52, 1) 0%, rgba(177, 92, 230, 1) 100%);
    margin: 0 auto;
    border: 2px solid rgba(255, 8, 0, 0.988);
    border-radius: 26px;
    box-shadow:  -5px -5px 46px #a62121,
             5px 5px 46px #be2727;
    padding: 15px;
    position: absolute;
    right: 150px;
    top: 425px;
    z-index: 1;
}

.acteur {
    min-height: 90px;
    width: 53%;
    background: #dd3434;
    background: linear-gradient(90deg, rgba(221, 52, 52, 1) 0%, rgba(177, 92, 230, 1) 100%);
    margin: 0 auto;
    border: 2px solid rgba(255, 8, 0, 0.988);
    border-radius: 26px;
    box-shadow:  -5px -5px 46px #a62121,
             5px 5px 46px #be2727;
    padding: 15px;
    position: absolute;
    left: 150px;
    top: 560px;
    z-index: 1;
}

.spectacle {
    min-height: 130px;
    width: 20%;
    background: #dd3434;
    background: linear-gradient(90deg, rgba(221, 52, 52, 1) 0%, rgba(177, 92, 230, 1) 100%);
    margin: 0 auto;
    border: 2px solid rgba(255, 8, 0, 0.988);
    border-radius: 26px;
    box-shadow:  -5px -5px 46px #a62121,
             5px 5px 46px #be2727;
    padding: 15px;
    position: absolute;
    right: 240px;
    top: 680px;
    z-index: 1;
}

.outro {
    min-height: 140px;
    width: 40%;
    background: #dd3434;
    background: linear-gradient(90deg, rgba(221, 52, 52, 1) 0%, rgba(177, 92, 230, 1) 100%);
    margin: 0 auto;
    border: 2px solid rgba(255, 8, 0, 0.988);
    border-radius: 26px;
    box-shadow:  -5px -5px 46px #a62121,
             5px 5px 46px #be2727;
    padding: 15px;
    position: absolute;
    left: 210px;
    top: 720px;
    z-index: 1;
}

/* NAVBAR */
header {
  width: 100%;
  background-color: #030301c9;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(38, 11, 56, 0.995);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.links {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  font-size: 1.4rem;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: #ff0000b5;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.action-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff10;
  color: white;
  text-decoration: none;
  border: 1px solid #ffffff30;
  transition: all 0.3s ease;
}

.action-button:hover {
  background-color: #ffffff39;
}

.burgermenubutton {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #070917;
  width: 100%;
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: max-height 0.3s ease;
}

.burger-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.burger-menu a {
  color: white;
  text-decoration: none;
}

.burger-menu .divider {
  height: 1px;
  background: #ffffff20;
  margin: 1rem 0;
}

.buttons-burger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.show {
  display: block;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
  .links,
  .buttons {
    display: none;
  }

  .burgermenubutton {
    display: block;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
  gap: 60px;
}
.container .box {
  position: relative;
  width: 300px;
  height: 350px;
  background: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box::before {
  content: "";
  position: absolute;
  inset: -10px 50px;
  border-top: 4px solid var(--clr);
  border-bottom: 4px solid var(--clr);
  z-index: -1;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out;
}
.container .box:hover:before {
  transform: skewY(0);
  inset: -10px 40px;
}

.container .box::after {
  content: "";
  position: absolute;
  inset: 60px -10px;
  border-left: 4px solid var(--clr);
  border-right: 4px solid var(--clr);
  z-index: -1;
  transform: skew(15deg);
  transition: 0.5s ease-in-out;
}
.container .box:hover::after {
  transform: skew(0);
  inset: 40px -10px;
}
.container .box .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .box .content .icon {
  color: var(--clr);
  width: 80px;
  height: 80px;
  box-shadow:
    0 0 0 4px #2e2e2e,
    0 0 0 6px var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background: #2e2e2e;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .icon {
  background: var(--clr);
  color: #2e2e2e;
  box-shadow:
    0 0 0 4px #2e2e2e,
    0 0 0 300px var(--clr);
}
.container .box .content .text h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .text h3 {
  color: #2e2e2e;
}
.container .box .content .text p {
  color: #999;
  transition: 0.5s ease-in-out;
  font-size: 0.9em;
}
.container .box:hover .content .text p {
  color: #2e2e2e;
}
.container .box .content .text a {
  position: relative;
  background: var(--clr);
  color: #2e2e2e;
  padding: 8px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}
.container .box:hover .content .text a {
  background: #2e2e2e;
  color: var(--clr);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 60px; /* espace vertical augmenté */
    padding: 40px 15px;
  }

  .container .box {
    width: 90%;
    height: auto;
  }

  .container .box .content {
    padding: 20px;
    height: auto;
  }

  .container .box .content .icon {
    width: 60px;
    height: 60px;
    font-size: 2em;
    box-shadow:
      0 0 0 3px #2e2e2e,
      0 0 0 5px var(--clr);
  }

  .container .box .content .text h3 {
    font-size: 1.3em;
  }

  .container .box .content .text p {
    font-size: 0.9em;
  }

  .container .box .content .text a {
    padding: 8px 15px;
    font-size: 0.95em;
  }
}

