@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&family=Poppins:wght@400;600;700&display=swap');

/* GLOBAL RESETS */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 21px;
  color: #ffffff;
  background-image: url(img/photo-1514306191717-452ec28c7814.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 90px;
  text-align: center;
}

@media (max-width: 768px) {
    body {
      margin-top: 50px;
    }
}

/* NAVBAR */
header {
  width: 100%;
  background-color: #030301c9;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(38, 11, 56, 0.995);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Dancing Script", cursive;
}

.links {
  display: flex;
  gap: 3.5rem;
  list-style: none;
  font-size: 1.4rem;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: #ff0000b5;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.action-button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff10;
  color: white;
  text-decoration: none;
  border: 1px solid #ffffff30;
  transition: all 0.3s ease;
}

.action-button:hover {
  background-color: #ffffff39;
}

.burgermenubutton {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #070917;
  width: 100%;
  padding: 2rem 1.5rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: max-height 0.3s ease;
}

.burger-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.burger-menu a {
  color: white;
  text-decoration: none;
}

.burger-menu .divider {
  height: 1px;
  background: #ffffff20;
  margin: 1rem 0;
}

.buttons-burger-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.show {
  display: block;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
  .links,
  .buttons {
    display: none;
  }

  .burgermenubutton {
    display: block;
  }
}


.wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.inner {

    --w: 250px; 
    --h: 380px; 
    --translateZ: 380px; 
    --rotateX: -15deg;
    --perspective: 1000px;

    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(var(--perspective));
    z-index: 2;
    transform-style: preserve-3d;
    animation: rotating 25s linear infinite; 
}

@media (max-width: 768px) {
    .inner {

        --w: 180px; 
        --h: 280px; 
        --translateZ: 280px; 
    }
}

@keyframes rotating {
    from {
        transform: translate(-50%, -50%) perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
    }
    to {
        transform: translate(-50%, -50%) perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
    }
}

.card {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transition: transform 0.5s;
    background: linear-gradient(145deg, #34495e, #2c3e50); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
        translateZ(var(--translateZ));
}

.card .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    opacity: 0.9;
    transition: opacity 0.3s;
}

.card:hover .img {
    opacity: 1;
}
